.home{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: 'Roboto', sans-serif;

}
.sidebar{
    flex: 1;
    width: 30%;
}
.navbar{
    flex: 3;
    width: 70%;
    background-color: blue;
}
